h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	font-size: 14px;
}

input {
	width: 100%;
	margin-bottom: 3px;
}

.header{
	margin-bottom: 20px;
}

.img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.img-wrapper img{
	width: 100%;
}

.cafe-img {
	border-radius: 5px;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
}

.btn-wrapper a{
	margin: 2%;
	min-width: 46%;
}

.input-group {
	margin-bottom: 10px;
}

.input-group-text {
    min-width: 180px;
}

.pagination a {
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.pagination a:last-child {
	margin-right: 0;
}

.admin-page {
	margin-bottom: 60px;
}

.footer-inner {
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 20px 0px;
}

.navbar {
	margin-bottom: 60px;
}